*{margin:0;padding:0;}
html,body{ width:100%; height:100%;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
img{display:block;padding:0;margin:0;border:0;}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
em,strong,th{font-style:normal;font-weight:normal;}
ul,li{list-style:none;}
.hide{display:none;}
.clearfix:before, .clearfix:after {content:'';display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}
.zt-wrapper {background:#fff;height:100%}












































